[submodule "dotfiles/vim/bundle/vim-autoclose"]
	path = dotfiles/vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "dotfiles/vim/bundle/Command-T"]
	path = dotfiles/vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
